.history

project/project
project/target
target

bitbucket/target

core/target

jira/target

kudo/target

remoteLogging/target

remoteLoggingPlugin/target

server/project/project
server/project/target
server/target
server/conf/local.conf
server/conf/private.conf

zik/target
